#adminmenu li[class*="-ame-styler-header"] {
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
    color: var(--ame-styler-text, #FFF);
    background: var(--ame-styler-bg, #002244);
}
#adminmenu li[class*="-ame-styler-header"]:hover,
#adminmenu li[class*="-ame-styler-header"]:focus {
    color: var(--ame-styler-text-hover, #FFF);
    background: var(--ame-styler-bg-hover, #002244);
}
.ame-styler-content {
    display: none;
    padding-left: 16px;
}
